body {
  padding: 1em;
}

.btn {
  background: black;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: block;
  font-weight: bold;
  font-size: 1em;
  margin: auto;
  max-width: 650px;
  padding: 0.5em 1em;
  width: 100%;
}

.btn:hover {
  background: purple;
}

.btn:focus {
  outline: none;
  box-shadow: 0px 0px 10px purple;
}
